<tr class="price">
    <td><%= link_to price.zone_name, edit_admin_price_path(price), class: 'edit-price-btn' %></td>
    <td><%= price.duration.sub('mons', 'months') %></td>
    <td><%= price.operation_category %></td>
    <td><%= number_to_currency price.price %></td>
    <td><%= l price.effect_time %></td>
    <td><%= l price.expire_time %></td>
</tr>
